

























































































































































































































/* WHOLE PAGE */
* {
  /* border: 1px solid lavender; */
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
}

 /* LEFT SECTION */
.left-section {
  width: 25%;
  background-color: #1f1f3d;
}

/* RIGHT SIDE */
.right-side {
  display: flex;
  flex-direction: column;
  width: 75%;
}

/* TOP SECTION */
.top-section {
  height: 60%;
  background-color: #5356a4;
}

/* BOTTOM SECTION */
.bottom-section {
  display: flex;
  flex-flow: wrap;
  background-color: #eaeaf4;
}

/* IDEA CARDS 📇 */
.idea-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 15px 0 15px;
  width: 30%;
  /* height: 250px; */
  height: 400px;
  background-color: #ffffff;
  border: 2px solid #1f1f3d;
}

.card-img {
  height: 35px;
}

.card-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f3d;
  border-bottom: 1px solid #1f1f3d;
  height: 35px;
  padding: 2px;
}

.card-body,
.card-title {
  padding: 15px;
  font-size: 30px;
}

.card-title {
  font-weight: 700;
}

.card-footer {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 5px;
  background-color: #5356a4;
  border-top: 1px solid #1f1f3d;
  color: #e9e9f3;
  font-size: 20px;
  font-weight: 600;
}
